<style>
.rq_reference_section {
    border-top:1px solid #DDD;
}
.rq_section {
    border:1px solid white;
}
.rq_row {
    bottom-border:1px dotted #888;
}
.rq_expanded {
    font-size:-1pt;
}
.rq_header {
    white-space:nowrap;
}
.rq_prop {
    margin-right:0.2rem;
}
.rq_reference {
    background-color:#CAFFD8;
}
.rq_qualifier {
    background-color:#F5F7C4;
}
</style>

<template id='claim-references-qualifiers-template'>
<div v-if='typeof claim.qualifiers!="undefined" || typeof claim.references!="undefined"'>
    <div class='rq_header'>
        <span v-if='expanded'>&#9661;</span>
        <span v-else>&#9655;</span>
        <a href='#' @dblclick.stop.prevent.self='console.log("!!")' @click.stop.prevent.self='expanded=!expanded' tt='toggle_references_qualifiers'></a>
    </div>
    <div v-if='expanded' class='rq_expanded'>
        <div v-if='typeof claim.qualifiers!="undefined"'>
            <div v-for='(qlist,prop) in claim.qualifiers' style='display:flex' class='rq_section rq_qualifier'>
                <div class='rq_prop'>
                    <wd-link :item='prop'></wd-link>
                </div>
                <div>
                    <div v-for='snak in qlist' style='display:flex;flex-direction:column;' class='rq_row'>
                        <div>
                            <snak :snak='snak' nodesc='1'></snak>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div v-if='typeof claim.references!="undefined"'>
            <div v-for='reference in claim.references' class='rq_reference_section'>
                <div v-for='(qlist,prop) in reference.snaks' style='display:flex' class='rq_section rq_reference'>
                    <div class='rq_prop'>
                        <wd-link :item='prop'></wd-link>
                    </div>
                    <div>
                        <div v-for='snak in qlist' style='display:flex;flex-direction:column;' class='rq_row'>
                            <div>
                                <snak :snak='snak' nodesc='1'></snak>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
'use strict';

Vue.component ( 'claim-references-qualifiers' , {
    props : [ 'claim' ] ,
    data : function () { return { expanded:false } } ,
    created : function () {
        let me = this ;
    } ,
    updated : function () { tt.updateInterface(this.$el) } ,
    mounted : function () { tt.updateInterface(this.$el) } ,
    methods : {
    } ,
    template:'#claim-references-qualifiers-template'
} ) ;

</script>
