<style>
.label_editor_input {
    font-size:11pt;
    padding:0 !important;
}
</style>

<template id='label-editor-template'>
<div>
    <div v-if='editing' style='display:flex;'>
        <div v-if='keep_lang' class='snak_monolingualtext_language'>
            {{lang}}
        </div>
        <div v-else>
            <input type='text' v-model='edit_lang' :class='"form-control label_editor_input"+(edit_lang==""?" is-invalid":"")' style='width:4rem;'  @keyup.esc='onKeyEscape' @keyup.enter='onKeyEnter' />
        </div>
        <div style='width:100%;min-width:12rem;'>
            <input type='text' v-model='edit_text' class='form-control label_editor_input'  @keyup.esc='onKeyEscape' @keyup.enter='onKeyEnter' v-focus tt_title='label_howto' />
        </div>
    </div>
    <div v-else class='snak_monolingualtext' @dblclick='startEditing'>
        <div class='snak_monolingualtext_language'>{{lang}}</div>
        <div v-if='typeof text!="undefined"' class='snak_monolingualtext_value'>
            <span v-if='text!=""'>{{text}}</span>
            <span v-else>&nbsp;</span>
        </div>
    </div>
</div>
</template>

<script>
'use strict';

Vue.component ( 'label-editor' , {
    props : [ 'lang' , 'text' , 'keep_lang' ] ,
    data : function () { return { editing:false , edit_lang:'' , edit_text:'' } } ,
    created : function () {
        let me = this ;
        me.editing = (me.lang=='') ;
    } ,
    updated : function () { tt.updateInterface(this.$el) } ,
    mounted : function () { tt.updateInterface(this.$el) ; this.updateDropTarget() } ,
    methods : {
        updateDropTarget : function () {
            var me = this ;
            $(me.$el).droppable ( {
                accept:function(e){
                    if ( this.editing ) return false ;
                    if(e.hasClass('draggable_lda')) return true;
                    return false ;
                } ,
                greedy:true,
                tolerance:'pointer',
                classes: {
                    "ui-droppable-active": "droptarget",
                    "ui-droppable-hover": "droptarget_hover"
                },
                drop: function( event, ui ) {
                    event.stopPropagation();
                    if ( me.editing ) return ;
                    if ( me.lang == '' ) return ;
                    if ( !me.isScrolledIntoView() ) return ;
                    let ev = {lang:ui.draggable.attr('lang'),text:ui.draggable.attr('text')} ;
                    if ( me.lang == ev.lang && me.text == ev.text ) return ; // Me, me, me
                    me.$emit('value-changed',{lang:me.lang,text:ev.text}) ;
                }
            } ) ;
        } ,
        isScrolledIntoView : function () {
            let elem = $(this.$el) ;
            let parent = $(elem.parents('.label_overflow_container').get(0)) ;
            let elemTop = elem.position().top;
            let elemBottom = elemTop + elem.height();

            return !(( elemTop > parent.height() ) || ( elemBottom < 0 )) ;
        } ,
        onKeyEnter : function () {
            if ( this.edit_lang == '' ) {
                alert ( "Need a language!" ) ;
                return ;
            }
            if ( this.lang == this.edit_lang && (this.text||'')==this.edit_text ) return ;
            this.$emit('value-changed',{lang:this.edit_lang,text:this.edit_text.substr(0,250)}) ;
            this.editing = false ;
        } ,
        onKeyEscape : function () {
            this.$emit('cancel') ;
            this.editing = false ;
        } ,
        startEditing : function () {
            var me = this ;
            me.edit_lang = me.lang ;
            me.edit_text = me.text || '' ;
            me.editing = true ;
        }
    } ,
    template : '#label-editor-template'
} ) ;

</script>
