<style>
div.card-header {
    padding:5px;
}
</style>

<template id='main-page-template'>
	<div class='container'>
		<tool-navbar>
                <template slot='right'>
                        <widar></widar>
                </template>
        </tool-navbar>
        <p class='lead' tt='intro'></p>
        <p>
            <router-link class='btn btn-primary' to='/tab' tt='new_tab'></router-link>
        </p>
        <p tt='examples'></p>
        <ul>
            <li>
                 <router-link to="/tab/sparql/SELECT %3Fq { VALUES %3Fq { wd%3AQ4115189 wd%3AQ47531644 wd%3AQ7680667 wd%3AQ350 } }/Last,de,it,fr;Den,de,ja;Ait,es;P31;P17;P571;P1705;P18;P625;P1082;P214" tt='example1'></router-link>
                 <span tt='example1_hint'></span>
             </li>
             <li>
                 <router-link to="/tab/sparql/SELECT %3Fq { %3Fq wdt%3AP31 wd%3AQ11424 %3B wdt%3AP364 wd%3AQ8752 }/Len%2Cde%2Ceu%3BDen%2Cde%2Ceu" tt='example2'></router-link>
            </li>
        </ul>
        <hr/>
        <a href='https://bitbucket.org/magnusmanske/tabernacle/src/master/' target='_blank' class='external' tt='repo'></a>
	</div>
</template>

<script>
'use strict';

let MainPage = Vue.extend ( {
        props : [] ,
        data : function () { return {} } ,
        created : function () {
        } ,
        updated : function () { tt.updateInterface(this.$el) ; } ,
        mounted : function () { tt.updateInterface(this.$el) ; } ,
        methods : {
        },
        template:'#main-page-template'
    } ) ;
</script>
