<style>
div.snak-container {
	margin:1px;
	padding:2px;
	border-radius:5px;
	border:1px solid #A9C5EB;
}
div.statement_hover_buttons_container {
	position:relative;
	float:right;
	z-index:100;
	background:white;
	font-size:11pt;
	margin:0px;
	top:-2px;
    padding:1px;
    border:1px solid #888;
    box-shadow: 3px 3px #BBB;
}
</style>

<template id='snak-editor-template'>
<div class='snak-container' @mouseenter='onMouseEnter' @mouseleave='onMouseLeave' @dblclick='onStartEditing' >
	<div v-if='editing'>
		<span v-if='snak.datatype=="wikibase-item"'>
			<typeahead-search :initial_q='snak.datavalue.value.id' @setq='onSetQ($event)' @cancel='onCancel'></typeahead-search>
		</span>
		<span v-else>
			<value-validator :prop='snak.property' :snak='snak' @enter='onSetValue($event)' @cancel='onCancel' buttons='1' hide_property='1'></value-validator>
		</span>
	</div>
	<div v-else>
		<div v-if='hovering && !editing' class='statement_hover_buttons_container'>
			<a href='#' @click.prevent='onRemove' tt_title='remove_statement'><b style='color:red'>✘</b></a>
			<a href='#' @click.prevent='onStartEditing' tt_title='edit_statement'><b style='color:green'>&#9998;</b></a>
		</div>
		<div style='z-index:0'>
			<snak :snak='snak' nodesc='1'></snak>
		</div>
        <slot></slot>
	</div>
</div>
</template>

<script>
'use strict';

Vue.component ( 'snak-editor' , {
	props : [ 'snak' , 'origin' ] ,
	data : function () { return { editing:false , hovering:false } } ,
    created : function () {
    	let me = this ;
    	if ( typeof me.snak.hash == 'undefined' ) me.editing = true ;
//    	console.log(JSON.parse(JSON.stringify(me.snak))) ;
    } ,
    updated : function () { tt.updateInterface(this.$el) ; } ,
    mounted : function () { tt.updateInterface(this.$el) ; } ,
    methods : {
    	onCancel : function () {
    		this.editing = false ;
    		this.$emit('cancel') ;
    	} ,
    	onSetQ : function ( d ) {
    		var me = this ;
    		let new_q = d ;
    		me.snak.datavalue.value.id = new_q ;
    		me.snak.datavalue.value['numeric-id'] = new_q.replace(/\D/g,'') ;
    		me.$emit('edit-snak',me.snak) ;
    		me.editing = false ;
    	} ,
    	onSetValue : function ( d ) {
    		var me = this ;
    		if ( !d.is_valid ) return ;
//    		console.log(JSON.parse(JSON.stringify(d))) ;
    		me.$emit('edit-snak',d.statement.mainsnak) ;
    		me.editing = false ;
    	} ,
    	onRemove : function () {
    		this.$emit('remove-snak',this.snak) ;
    	} ,
    	onStartEditing : function () {
    		var me = this ;
    		me.editing = true ;
    	} ,
        onMouseEnter : function () { this.hovering = true } ,
        onMouseLeave : function () { this.hovering = false }
    } ,
	template : '#snak-editor-template'
} ) ;
</script>
