<style>
div.missing-language {
    margin:1px;
    padding:2px;
    border-radius:5px;
    border:1px solid #FF7575;
}
.droptarget {
    background-color:#62A9FF;
}
.droptarget_hover {
    background-color:#2966B8;
}
.draggable_statement {
    cursor:move;
}
.draggable_lda {
    cursor:move;
}
.tabernacle_cell {
    position:relative;
}
.tabernacle_cell_large {
    font-size:11pt;
}
.tabernacle_cell_mid {
    font-size:10pt;
}
.tabernacle_cell_small {
    font-size:9pt;
}
.tabernacle_cell_hover_container {
    font-size:12pt;
    position:absolute;
    left:3px;
    bottom:3px;
    background:white;
    z-index:10;
    padding:1px;
    border:1px solid #888;
    box-shadow: 3px 3px #BBB;
}
.alias_wrapper {
    margin-bottom:0.4rem;
}
.label_overflow_container {
    overflow-y:auto;
    max-height:10rem;
}
</style>

<template id='tabernacle-cell-template'>
<td @mouseenter='onMouseEnter' @mouseleave='onMouseLeave' :class='getCellClasses()' @dblclick.self='if(!add_new_lda) onAddNewStatement()'>
    <div v-if='col.t=="prop"' style='display:flex;flex-direction:column;'>
        <div v-for='claim in item.getClaimsForProperty(col.p)' :class='"draggable_statement draggable_statement_"+claim.mainsnak.datatype' :statement='JSON.stringify(claim)' :origin='origin'>
            <snak-editor :snak='claim.mainsnak' @remove-snak='onRemoveMainSnak(claim)' @edit-snak='onEditMainSnak($event,claim)' @cancel='onCancel($event,claim)'>
                <claim-references-qualifiers :claim='claim'></claim-references-qualifiers>
            </snak-editor>
        </div>
        <div v-if='add_new_lda' class='snak-container' :statement='JSON.stringify(new_claim)' :origin='origin'>
            <snak-editor :snak='new_claim.mainsnak' @edit-snak='onEditMainSnak($event,new_claim)' @cancel='onCancel($event,new_claim)'></snak-editor>
        </div>
    </div>
    <div v-else-if='col.t=="label" || col.t=="desc"'>
        <div v-if='col.l==""' class='label_overflow_container'>
            <div v-for='(lo,lang) in item.raw[col.t=="label"?"labels":"descriptions"]' v-if='isValidLanguage(col,lang)' :key='colnum+"+"+lang' class='snak-container draggable_lda' :origin='origin' :lang='lang' :text='lo.value'>
                <label-editor :lang='lang' :text='lo.value' keep_lang='1' @value-changed='onChangeText($event,lang,col.t)'></label-editor>
            </div>
        </div>
        <div v-else>
            <div v-for='lang in col.l.split(",")' v-if='lang!=""'>
                <div v-if='typeof item.raw[col.t=="label"?"labels":"descriptions"][lang]=="undefined"' class='missing-language'>
                    <label-editor :lang='lang' keep_lang='1' @value-changed='onChangeText($event,lang,col.t)'></label-editor>
                </div>
                <div v-else class='snak-container draggable_lda'  :origin='origin' :lang='lang' :text='item.raw[col.t=="label"?"labels":"descriptions"][lang].value'>
                    <label-editor :lang='lang' :text='item.raw[col.t=="label"?"labels":"descriptions"][lang].value' keep_lang='1' @value-changed='onChangeText($event,lang,col.t)'></label-editor>
                </div>
            </div>
        </div>
        <div v-if='add_new_lda' class='snak-container'>
            <label-editor lang='' text='' @value-changed='onChangeText($event,"",col.t)' @cancel='add_new_lda=false'></label-editor>
        </div>
    </div>
    <div v-else-if='col.t=="alias"'>
        <div v-if='col.l==""' class='label_overflow_container'>
            <div v-for='(lang_aliases,lang) in item.raw.aliases' v-if='isValidLanguage(col,lang)'>
                <div v-for='(lo,alias_num) in lang_aliases' :key='colnum+"+"+lang' class='snak-container draggable_lda' :origin='origin' :lang='lang' :text='lo.value'>
                    <label-editor :lang='lang' :text='lo.value' keep_lang='1' @value-changed='onChangeText($event,lang,col.t,alias_num)'></label-editor>
                </div>
            </div>
        </div>
        <div v-else>
            <div v-for='lang in col.l.split(",")' class='alias_wrapper' v-if='lang!=""'>
                <div v-if='typeof item.raw.aliases[lang]=="undefined"' class='missing-language'>
                    <label-editor :lang='lang' keep_lang='1' @value-changed='onChangeText($event,lang,col.t)'></label-editor>
                </div>
                <div v-else class='alias_wrapper'>
                    <div v-for='(lo,alias_num) in item.raw.aliases[lang]' class='snak-container draggable_lda' :origin='origin' :lang='lang' :text='lo.value'>
                        <label-editor :lang='lang' :text='lo.value' keep_lang='1' @value-changed='onChangeText($event,lang,col.t,alias_num)'></label-editor>
                    </div>
                </div>
            </div>
        </div>
        <div v-if='add_new_lda' class='snak-container'>
            <label-editor lang='' text='' @value-changed='onChangeText($event,"",col.t)' @cancel='add_new_lda=false'></label-editor>
        </div>
    </div>
    <div v-else>
        {{col.t}}
    </div>

    <div v-if='hovering && !add_new_lda' class='tabernacle_cell_hover_container'>
        <a href='#' @click.prevent='onAddNewStatement' tt_title='add_new_statement'>✷</a>
    </div>
</td>
</template>



<script>
'use strict';

Vue.component ( 'tabernacle-cell' , {
    props : [ 'q' , 'col' , 'colnum' , 'num_cols' ] ,
    data : function () { return { hovering:false , origin:'' , add_new_lda:false , new_claim:{} , item:{} } } ,
    created : function () {
        let me = this ;
        me.item = wd.getItem(me.q) ;
        me.origin = me.q+"/"+me.col.t+"/"+me.col.p ;
    } ,
    updated : function () { tt.updateInterface(this.$el) } ,
    mounted : function () {
        tt.updateInterface(this.$el) ;
        this.updateDropTarget() ;
        this.updateDraggable() ;
    } ,
    methods : {
        onChangeText : function ( event , lang , type , alias_num ) {
            var me = this ;
//            console.log ( JSON.parse(JSON.stringify(event)) , lang , type , alias_num ) ;
            me.add_new_lda = false ;
            if ( event.lang == '' ) return ;
            if ( type == 'label' ) return me.runWikidataEdit ( { action:'set_label' , q:me.q , lang:event.lang , label:event.text } ) ;
            if ( type == 'desc' ) return me.runWikidataEdit ( { action:'set_desc' , q:me.q , lang:event.lang , label:event.text } ) ;

            // Alias
            let had_that = [] ;
            let aliases = [] ;
            let aliases_raw = ((me.item.raw.aliases||{})[event.lang]||{}) ;
            $.each ( aliases_raw , function ( k2 , v2 ) {
                let alias = '' ;
                if ( typeof alias_num != 'undefined' && k2 == alias_num ) alias = event.text ;
                else alias = v2.value ;
                if ( alias == '' || had_that[alias] ) return ;
                had_that[alias] = 1 ;
                aliases.push ( alias ) ;
            } ) ;
            if ( typeof alias_num == 'undefined' && !had_that[event.text] && event.text != '' ) aliases.push ( event.text ) ;
            if ( aliases.length == 0 && event.text != '' ) aliases = [ event.text ] ;
            me.runWikidataEdit ( { action:'generic' , json:JSON.stringify ( { action:'wbsetaliases' , id:me.q , language:event.lang , 'set':aliases.join('|') } ) } ) ;
        } ,
        updateDraggable : function () {
            var me = this ;
            $(me.$el).find('.draggable_statement').draggable ( {
                start: function( event, ui ) {
                    ui.helper.find('.statement_hover_buttons_container').remove() ;
                    ui.helper.width($(this).width());
                },
                containment:'document',
                cursor:'move',
                revert:true,
                helper:'clone'
            } ) ;
            $(me.$el).find('.draggable_lda').draggable ( {
                start: function( event, ui ) {
                    ui.helper.width($(this).width());
                },
                containment:'document',
                cursor:'move',
                revert:true,
                helper:'clone'
            } ) ;
        } ,
        updateDropTarget : function () {
            var me = this ;
            if ( me.col.t == 'prop' ) {
                let i = wd.getItem(me.col.p) ;
                if ( typeof i == 'undefined' ) return ;
                $(me.$el).droppable ( {
                    accept:function(e){
                        if ( e.attr('origin') == me.origin ) return false ; // Same cell
                        if(e.hasClass('draggable_statement_'+i.raw.datatype)) return true;
                        return false ;
                    } ,
                    tolerance:'pointer',
                    classes: {
                        "ui-droppable-active": "droptarget",
                        "ui-droppable-hover": "droptarget_hover"
                    },
                    drop: function( event, ui ) {
                        me.onDropStatement ( event , ui ) ;
                    }
                } ) ;
            } else {
                $(me.$el).droppable ( {
                    accept:function(e){
                        if ( e.attr('origin') == me.origin ) return false ; // Same cell
                        if(e.hasClass('draggable_lda')) return true;
                        return false ;
                    } ,
                    tolerance:'pointer',
                    classes: {
                        "ui-droppable-active": "droptarget",
                        "ui-droppable-hover": "droptarget_hover"
                    },
                    drop: function( event, ui ) {
                        let ev = {lang:ui.draggable.attr('lang'),text:ui.draggable.attr('text')} ;
                        me.onChangeText ( ev , ev.lang , me.col.t ) ;
                    }
                } ) ;
            }
        } ,
        onDropStatement : function ( event , ui ) {
            var me = this ;
            let dropped_statement = JSON.parse ( ui.draggable.attr('statement') ) ;
            dropped_statement.mainsnak.property = me.col.p ; // In case snak was dropped from different column
            if ( typeof dropped_statement.id != 'undefined' ) delete dropped_statement.id ;
            let pi = wd.getItem(me.col.p) ;
            let dt = pi.raw.datatype ;
            let new_claim = dropped_statement ; //{ mainsnak:dropped_snak , type:'statement' , rank:'normal' } ;
            let params = { action:'generic' } ;
            params.json = JSON.stringify ( {
                action:'wbeditentity',
                id:me.q,
                data:JSON.stringify({
                    claims:[new_claim]
                })
            } ) ;
            me.runWikidataEdit ( params ) ;
        } ,
        onAddNewStatement : function () {
            var me = this ;
            if ( me.col.t == 'prop' ) {
                let i = me.item ;
                let pi = wd.getItem(me.col.p) ;
                let dt = pi.raw.datatype ;
                let new_claim = { mainsnak:{datavalue:{},property:me.col.p,snaktype:'value',datatype:dt} , type:'statement' , rank:'normal' } ;
                if ( dt == 'external-id' ) new_claim.mainsnak.datavalue = { value:'' , type:'string' } ;
                else if ( dt == 'wikibase-item' ) new_claim.mainsnak.datavalue = { value:{'entity-type':'item',id:'','numeric-id':0} , type:'wikibase-entityid' } ;
                else if ( dt == 'monolingualtext' ) new_claim.mainsnak.datavalue = { value:{text:'' , language:''} } ;
                else if ( dt == 'commonsMedia' ) new_claim.mainsnak.datavalue = { value:'' , type:'string' } ;
                else if ( dt == 'time' ) new_claim.mainsnak.datavalue = { value:{time:'',timezone:0,before:0,after:0,precision:0,calendarmodel:'http://www.wikidata.org/entity/Q1985727'} , type:'time' } ;
                else if ( dt == 'globe-coordinate' ) new_claim.mainsnak.datavalue = { value:{latitude:'',longitude:'',altitude:0,precision:0,globe:'http://www.wikidata.org/entity/Q2'},type:'globecoordinate' } ;
                else if ( dt == 'string' ) new_claim.mainsnak.datavalue = '' ;
                else {
                    console.log ( 'onAddNewStatement: Unknown datatype' , dt , JSON.parse(JSON.stringify(i.raw)) ) ;
                    return ;
                }

                if ( typeof i.raw.claims == 'undefined' ) Vue.set ( i.raw , 'claims' , {} ) ;
                if ( typeof i.raw.claims[me.col.p] == 'undefined' ) Vue.set ( i.raw.claims , me.col.p , [] ) ;
                me.new_claim = new_claim ;
                me.add_new_lda = true ;
                me.forceUpdate() ;
//                console.log ( JSON.parse(JSON.stringify(pi.raw)) ) ;
            } else {
                me.add_new_lda = true ;
            }
        } ,
        onRemoveMainSnak : function ( d ) {
            if ( typeof d.id == 'undefined' ) return this.reloadItem() ;
            this.runWikidataEdit ( { action:'remove_claim' , id:d.id } ) ;
        } ,
        onCancel : function ( $event , claim ) {
            var me = this ;
            me.add_new_lda = false ;
            me.new_claim = {} ;
        } ,
        onEditMainSnak : function ( snak , claim ) {
            var me = this ;
            me.add_new_lda = false ;
            let claim2 = JSON.parse(JSON.stringify(claim)) ;
            let snak2 = JSON.parse(JSON.stringify(snak)) ;
            claim2.mainsnak = snak2 ;
            let params = { action:'generic' } ;
            params.json = JSON.stringify ( {
                action:'wbeditentity',
                id:me.q,
                data:JSON.stringify({
                    claims:[claim2]
                })
            } ) ;
            me.runWikidataEdit ( params ) ;
        } ,
        reloadItem : function () {
            var me = this ;
            delete wd.items[me.q] ;
            wd.getItemBatch ( [me.q] , function ( d2 ) {
                $('#row_'+me.q).removeClass('updating') ;
                me.item = wd.getItem(me.q) ;
                me.forceUpdate() ;
            } ) ;
        } ,
        runWikidataEdit : function ( params ) {
            var me = this ;
            if ( !widar.is_logged_in ) {
                alert ( "Log into WiDaR to edit!" ) ;
                return ;
            }
            params.tool_hashtag = 'tabernacle' ;
            $('#row_'+me.q).addClass('updating') ;
            widar.run ( params , function ( d ) {
                me.reloadItem () ;
            } ) ;
        } ,
        isValidLanguage : function ( col , lang ) {
            if ( col.l == '' ) return true ;
            if ( $.inArray(lang,col.l.split(',')) === -1 ) return false ;
            return true ;
        } ,
        forceUpdate : function () {
            var me = this ;
            let h = me.hovering ;
            me.hovering = !h ;
            me.hovering = h ;
            setTimeout ( function () {
                me.updateDraggable();
                me.updateDropTarget();
            } , 500 ) ;
        } ,
        getCellClasses : function () {
            var me = this ;
            let ret = 'droppable_snak tabernacle_cell' ;
            if ( me.num_cols <= 3 ) ret += " tabernacle_cell_large" ;
            else if ( me.num_cols <= 6 ) ret += " tabernacle_cell_mid" ;
            else ret += " tabernacle_cell_small" ;
            return ret ;
        } ,
        onMouseEnter : function () { this.hovering = true } ,
        onMouseLeave : function () { this.hovering = false }
    } ,
    template : '#tabernacle-cell-template'
} ) ;

</script>
