<style>
div.card-header {
    padding:5px;
}
tr.updating {
    background-color:#000;
}
table.main_data_table tbody {
/*    font-size:9pt;*/
}
</style>

<template id='table-page-template'>
<div>
	<tool-navbar>
            <template slot='left'>
                <div @click.prevent='hide_table_settings=!hide_table_settings' style="cursor:pointer;font-size:24pt;margin-left:1rem;">
                    <button class='btn btn-outline-dark' v-if='hide_table_settings' tt='show_table_settings'></button>
                    <button class='btn btn-outline-dark'  v-else tt='hide_table_settings'></button>
                </div>
            </template>
            <template slot='right'>
                <a href='https://www.wikidata.org/wiki/Help:TABernacle' target='_blank' class='btn btn-outline-info' tt='help'></a>
                <widar></widar>
            </template>
    </tool-navbar>

    <div v-if='!hide_table_settings' class='row' id='table_settings'>
        <div class="row" style='width:100%'>
          <div class="col-2">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
              <a class="nav-link active" data-toggle="pill" href="#v-pills-home" role="tab" aria-selected="true" tt='sparql_query'></a>
              <a class="nav-link" data-toggle="pill" href="#v-pills-profile" role="tab" aria-selected="false" tt='pagepile_id'></a>
              <a class="nav-link" data-toggle="pill" href="#v-pills-messages" role="tab" aria-selected="false" tt='manual_items'></a>
            </div>
          </div>
          <div class="col-10">
            <div class="tab-content" id="v-pills-tabContent">
              <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"><textarea rows='3' class='form-control' v-model='sparql'></textarea></div>
              <div class="tab-pane fade" id="v-pills-profile" role="tabpanel"><input type='number' v-model='pagepile_id' class='form-control' style='width:8rem;' /></div>
              <div class="tab-pane fade" id="v-pills-messages" role="tabpanel"><textarea rows='3' class='form-control' v-model='manual_items'></textarea></div>
            </div>
          </div>
        </div>
        <form style='width:100%'>
            <table class='table'>
                <tbody>
                    <tr>
                        <td nowrap>
                            Columns<br/><br/>
                            <input type='submit' class='btn btn-outline-primary' value='Run' @click='doRun' />
                        </td>
                        <td style='width:100%'>
                            <div style='display: flex; flex-direction: row;'>
                                <div v-for='(col,colnum) in cols' style='margin-right:1rem;'>
                                    <select class="form-control" v-model='col.t'>
                                        <option value='prop' tt='property'></option>
                                        <option value='label' tt='label'></option>
                                        <option value='desc' tt='desc'></option>
                                        <option value='alias' tt='aliases'></option>
                                    </select>
                                    <div v-if='col.t=="prop"'>
                                        <input type='text' class='form-control' tt_placeholder='ph_property' v-model='col.p' />
                                    </div>
                                    <div v-else>
                                        <input type='text' class='form-control' tt_placeholder='ph_languages' v-model='col.l' />
                                    </div>
                                    <div style='text-align:center;'>
                                        <a style='color:black' v-if='colnum>0' href='#' @click.prevent='onMoveColumn(colnum,-1)'>⇐</a>
                                        <a style='color:red' href='#' @click.prevent='onMoveColumn(colnum,0)'>✘</a>
                                        <a style='color:black' v-if='colnum<cols.length-1' href='#' @click.prevent='onMoveColumn(colnum,1)'>⇒</a>
                                    </div>
                                </div>
                                <div style='width:100%;white-space:nowrap'>
                                    <a class='btn btn-outline-success' href='#' @click.prevent='cols.push({t:"prop",l:"",p:""})' tt='add_column'></a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>

    <div class='row' v-if='running'>
        <i tt='running'></i>
    </div>

    <div v-if='items_loaded' class='row' style='margin-left:0px;margin-right:0px;'>
        <table class='table table-bordered table-sm main_data_table'>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Item</th>
                    <th v-for='col in cols'>
                        <span v-if='col.t=="prop"' :key='"th_"+col.p' :title='col.p'><wd-link :item='col.p' small_q='1'></wd-link></span>
                        <span v-if='col.t=="label"' tt='label'></span>
                        <span v-if='col.t=="desc"' tt='desc'></span>
                        <span v-if='col.t=="alias"' tt='aliases'></span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr v-for='(q,row_num) in visible_items' :id='"row_"+q' :key='"row_"+q'>
                    <td>
                        {{current_batch*batch_size+row_num+1}}
                    </td>
                    <td>
                        <wd-link :item='q' small_q='1'></wd-link>
                        <div style='color:#999'>{{q}}</div>
                    </td>
                    <td v-for='(col,colnum) in cols' is='tabernacle-cell' :q='q' :col='col' :colnum='colnum' :num_cols='cols.length'></td>
                </tr>
            </tbody>
        </table>

        <batch-navigator :total='items.length' :current='current_batch' :batch_size='batch_size' :batch_size_options='[10,25,50]' @set-current='setCurrentBatch($event)' @set-size='setBatchSize($event)'></batch-navigator>
    </div>

</div>
</template>


<script>
'use strict';

let TablePage = Vue.extend ( {
        props : [ 'mode' , 'main_init' , 'cols_init' ] ,
        data : function () { return { sparql:'' , pagepile_id:0 , manual_items:[] , cols:[] , items:[] , items_loaded:false , running:false , hide_table_settings:false ,
                current_batch:0 , batch_size:25 , visible_items:[] 
            } } ,
        created : function () {
            let me = this ;
            if ( typeof me.main_init == 'undefined' ) {}
            else if ( me.mode=='manual' ) me.manual_items = me.main_init.split(',').join('\n') ;
            else if ( me.mode=='pagepile' ) me.pagepile_id = me.main_init * 1 ;
            else if ( me.mode=='sparql' ) me.sparql = me.main_init ;
            else alert ( "Bad mode "+mode ) ;
            if ( typeof me.cols_init != 'undefined' ) me.parseColumnParameter ( me.cols_init ) ;
            if ( ( me.pagepile_id!=0 || me.sparql+me.manual_items!='' ) && me.cols.length > 0 ) me.doRun() ;
        } ,
        updated : function () { tt.updateInterface(this.$el) ; } ,
        mounted : function () { tt.updateInterface(this.$el) ; } ,
        methods : {
            onMoveColumn : function ( colnum , direction ) {
                var me = this ;
                if ( direction == 0 ) { // Delete
                    me.cols.splice(colnum,1) ;
                } else {
                    let tmp = me.cols[colnum+direction] ;
                    Vue.set ( me.cols , colnum*1+direction*1 , me.cols[colnum] ) ;
                    Vue.set ( me.cols , colnum*1 , tmp ) ;
                }
            } ,
            parseColumnParameter : function ( param ) {
                var me = this ;
                let parts = param.split(';') ;
                let cols = [] ;
                $.each ( parts , function ( dummy , part ) {
                    if ( /^P\d+$/.test(part) ) cols.push ( {t:'prop',l:'',p:part} ) ;
                    if ( /^L.*$/.test(part) ) cols.push ( {t:'label',l:part.substr(1),p:''} ) ;
                    if ( /^D.*$/.test(part) ) cols.push ( {t:'desc',l:part.substr(1),p:''} ) ;
                    if ( /^A.*$/.test(part) ) cols.push ( {t:'alias',l:part.substr(1),p:''} ) ;
                } ) ;
                me.cols = cols ;
            } ,
            showResults : function () {
                let me = this ;
                me.running = false ;
                me.items_loaded = true ;
            } ,
            loadItems : function () {
                let me = this ;
                let to_load = [] ;
                $.each ( me.cols , function ( k , col ) { if ( col.t == 'prop' ) to_load.push ( col.p ) } ) ;
                wd.getItemBatch ( to_load , function () {
                    me.setCurrentBatch ( 0 ) ;
                } ) ;
            } ,
            doRun : function () {
                let me = this ;
                me.running = true ;
                me.items_loaded = false ;
                me.items = [] ;
                me.visible_items = [] ;
                me.updateURL() ;
                me.hide_table_settings = true ;

                if ( me.manual_items != '' ) {
                    me.mode = 'manual' ;
                    me.items = [] ;
                    $.each ( me.manual_items.split(/[,\|\n]/) , function ( k , v ) {
                        v = $.trim(v) ;
                        if ( /^[PQ]\d+$/.test(v) ) me.items.push ( v ) ;
                    } ) ;
                    me.loadItems() ;
                } else if ( me.pagepile_id != 0 ) {
                    me.mode = 'pagepile' ;
                    $.getJSON ( '/pagepile/api.php?id='+me.pagepile_id+'&action=get_data&format=json&doit&callback=?' , function ( d ) {
                        if ( d.wiki != 'wikidatawiki' ) {
                            alert ( "Sorry, the PagePile needs to be a list of Wikidata items; this is " + d.wiki ) ;
                            return ;
                        }
                        $.each ( d.pages , function ( k , v ) {
                            if ( !v.match(/^Q\d+$/) ) return ;
                             me.items.push ( v ) ;
                        } ) ;
                        me.loadItems() ;
                    } ) ;

                } else if ( me.sparql != '' ) {
                    me.mode = 'sparql' ;
                    wd.loadSPARQLitems ( me.sparql , function ( items ) {
                        let tmp = {} ;
                        items.map(function(v){tmp[v]=v;})
                        me.items = Object.keys(tmp) ;
                        me.loadItems() ;
                    } , function () {
                        // TODO handle fail
                    } ) ;
                } else {
                    // TODO
                }
            } ,
            setCurrentBatch : function ( new_batch ) {
                var me = this ;
                me.current_batch = new_batch ;
                me.items_loaded = false ;
                me.visible_items = [] ;
                let start = me.current_batch*me.batch_size ;
                for ( let offset = 0 ; offset < me.batch_size ; offset++ ) {
                    if ( typeof me.items[start+offset] == 'undefined' ) continue ;
                    me.visible_items.push ( me.items[start+offset] ) ;
                }
                wd.getItemBatch ( me.visible_items , function () {
                    me.showResults() ;
                } ) ;
            } ,
            setBatchSize : function ( new_size ) {
                var me = this ;
                me.items_loaded = false ;
                let start = me.batch_size * me.current_batch ;
                let cb = 0 ;
                while ( (cb+1)*new_size < start ) cb++ ;
                me.batch_size = new_size ;
                me.setCurrentBatch ( cb ) ;
            } ,
            updateURL : function () {
                var me = this ;
                let url = '/tab' ;
                if ( me.pagepile_id != 0 ) me.mode = 'pagepile' ;
                else if ( me.manual_items != '' ) me.mode = 'manual' ;
                else if ( me.sparql != '' ) me.mode = 'sparql' ;
                else me.mode = undefined ;
                if ( typeof me.mode != 'undefined' ) {
                    url += "/" + me.mode + "/" ;
                    if ( me.mode == 'pagepile' ) url += encodeURIComponent(me.pagepile_id) ;
                    else if ( me.mode == 'manual' ) url += encodeURIComponent(me.manual_items.split(',').join(',')) ;
                    else if ( me.mode == 'sparql' ) url += encodeURIComponent(me.sparql) ;

                    let cols = [] ;
                    $.each ( me.cols , function ( dummy , col ) {
                        if ( col.t == 'prop' ) cols.push ( col.p ) ;
                        if ( col.t == 'label' ) cols.push ( 'L'+col.l ) ;
                        if ( col.t == 'desc' ) cols.push ( 'D'+col.l ) ;
                        if ( col.t == 'alias' ) cols.push ( 'A'+col.l ) ;
                    } ) ;
                    if ( cols.length > 0 ) url += '/' + encodeURIComponent(cols.join(';')) ;
                }

                me.$router.replace ( url );
            }
        },
        template:'#table-page-template'
    } ) ;
</script>
